@import "../partial/_normalize.scss";
@import "../partial/_mixin.scss";

body {
  min-height: 100vh;
  background-color: #0a0039;
}

* {
  box-sizing: border-box;
}

.wrap {
  .banner {
    width: 750px;
  }

}
